<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE hibernate-configuration PUBLIC "-//Hibernate/Hibernate Configuration DTD 3.0//EN" "http://hibernate.sourceforge.net/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
    <session-factory>
        <property name="hibernate.dialect">org.hibernate.dialect.MySQLDialect</property>
        <property name="hibernate.connection.driver_class">com.mysql.jdbc.Driver</property>
        <property name="hibernate.connection.url">jdbc:mysql://localhost:3306/solar?zeroDateTimeBehavior=convertToNull</property>
        <property name="hibernate.connection.username">root</property>
        <property name="hibernate.c3p0.timeout">500</property>
        <property name="hibernate.c3p0.max_statements">20</property>
        <property name="hibernate.show_sql">true</property>
        <property name="hibernate.format_sql">true</property>
        <property name="hibernate.use_sql_comments">true</property>
        <mapping class="slr.epoo.web.mdl.Empleado"></mapping>
        <mapping class="slr.epoo.web.mdl.Nomina"></mapping>
        <mapping class="slr.epoo.web.mdl.Cliente"></mapping>
        <mapping class="slr.epoo.web.mdl.Producto"></mapping>
        <mapping class="slr.epoo.web.mdl.Venta"></mapping>
        <mapping class="slr.epoo.web.mdl.DetalleVenta"></mapping>
    </session-factory>
</hibernate-configuration>
